<%- include('../../partials/header') %>


    <body>
        <div>
            <%- include('../../partials/navbar') %>
        </div>

        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Edição de categoria</h2>
                </div>

                <form action="/categories/updatet" method="POST">
                    <div class="card-body">
                        <input type="text" class="form-control" value="<%= Category.title %>" name="title" id="title"
                            placeholder="Defina o titulo da categoria">
                    </div>
                    <input type="hidden" name="id" value="<%= Category.id %>">
                    <div class="card-footer">
                        <input type="submit" class="btn btn-success" value="Atualizar">
                    </div>
                </form>
            </div>
        </div>
    </body>

    <div>
        <%- include('../../partials/footer') %>
    </div>